{% extends "template.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="album text-muted">
        <div class="container">
            <div class="row">
                {% for camera in cameras %}
                    <div class="card camera" cameraname="{{ camera.cameraName }}">
                        <h2>{{ camera.cameraName }}</h2>
                        <video id="{{ camera.cameraName }}" class="video-js vjs-default-skin" data-setup='{ "controls": true, "autoplay": true, "preload": "metadata", "poster": "http://{{ streaming_service_url }}/{{ camera.cameraName }}.jpg?r={{ "now"|date("U") }}" }' >
                            <source src="http://{{ streaming_service_url }}/{{ camera.cameraName }}.webm?r={{ "now"|date("U") }}" type="video/webm">

                            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                        </video>
                        {% if camera.ptzAllowed %}
                            <button type="button" class="btn-sm btn-danger ptz-btn" ptzmove="left">Left</button>
                            <button type="button" class="btn-sm btn-danger ptz-btn" ptzmove="right">Right</button>
                            <button type="button" class="btn-sm btn-danger ptz-btn" ptzmove="up">Up</button>
                            <button type="button" class="btn-sm btn-danger ptz-btn" ptzmove="down">Down</button>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}